*{
  background-color: #ff9999;
  font-family: "Roboto Sans";
}

#Title {
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
}

#description {
  color: inherit;
  display: flex;
  justify-content: center;
  font-weight: bold;

}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
}
